In [1]:
import names
import random 
import csv
import datetime
import pandas as pd

In [2]:

gender = ["M","F"]
sport_type = ["Football" , "Basketball" , "Tennis", "PingPong" , "Badminton" , "Boxing","Athletic" , "VolleyBall"]
Nation = ["Thai","American","Japanese","Korean" ,"Brazilian","German","Italian","British","French","Russian","Mexican"]
Name = ["Mahidol Sport","ICT Sport","KingKong Sport", "Arm Sport","GD Sport","Underdogs Sport","Man Uay FC","Big Boom FC","Easy Team","Uefa191","CC Sport",
        "Good Team","Pheonix FC","Green Sport","FairPlay Sport","The Best Team","Beyonder","One Above All","Superman","Batman Sport","Rich Kid","GG Sport",
        "XX Sport","Rama Sport","MM Sport","Green Velvet"]
athlete = 1000
team = 25
shuffle = []
for i in range(0,880):
    shuffle.append("Thai")

for i in range(880,890):
    shuffle.append("American")

for i in range(890,900):
    shuffle.append("Japanese")

for i in range(900,940):
    shuffle.append("Korean")

for i in range(940,970):
    shuffle.append("German")

for i in range(970,999):
    shuffle.append("Canadian")

shuffle.append("Italian")

random.shuffle(shuffle)

In [3]:

for x in range(0,athlete):
    print("("
     + "'" + str(x).zfill(5) + "'" +"," + "'" + names.get_first_name()+"'"  +"," + "'" + names.get_last_name()+ "'" + "," + str(random.randint(150,200)) + "," + 
     str(round(random.uniform(40,100),2))+"," + str(random.randint(15,45)) + "," + "'"+ random.choice(gender) +"'" + "," + "'"+random.choice(sport_type)+"'"+ 
     "," + "'" + shuffle[x] + "'" + ","+ "'"+random.choice(Name) +"'"+
    ")" + ",")

('00000','Santana','Dixon',174,83.07,23,'F','Athletic','Thai','GG Sport'),
('00001','Derrick','Turner',156,52.51,43,'F','Basketball','Thai','Arm Sport'),
('00002','Janie','Sharr',160,60.83,45,'M','Tennis','Thai','Beyonder'),
('00003','Doris','Simpon',186,95.3,25,'M','Tennis','American','FairPlay Sport'),
('00004','Jan','Goss',169,99.04,28,'F','Basketball','Thai','GD Sport'),
('00005','William','Meyers',194,58.55,24,'M','PingPong','Thai','Uefa191'),
('00006','Sabrina','Truelove',189,98.3,22,'M','Football','Thai','Arm Sport'),
('00007','William','Stiver',179,72.36,43,'M','Football','Thai','Green Sport'),
('00008','Margaret','Rackley',161,62.55,42,'F','Tennis','Thai','Uefa191'),
('00009','Karen','David',163,55.24,40,'M','PingPong','Thai','Uefa191'),
('00010','Jimmy','Macneil',169,90.99,33,'F','Badminton','Thai','Beyonder'),
('00011','Myrtle','Marano',175,67.57,45,'M','PingPong','Thai','Beyonder'),
('00012','Stacey','Wilson',188,48.36,31,'M','Football','Thai','GG Sport'),
('00013','Jeanine','Dustman',182,76.99,40,'F','Badminton','Thai','MM Sport'),
('00014','Jesus','Arnold',199,84.24,40,'F','PingPong','Thai','Green Velvet'),
('00015','Sadie','Ballesteros',176,80.84,21,'F','PingPong','Thai','Beyonder'),
('00016','Shirley','Schank',175,94.86,16,'F','Boxing','Thai','Arm Sport'),
('00017','Patrick','Dileo',184,95.29,26,'M','Badminton','Thai','CC Sport'),
('00018','Jean','Lozano',188,75.41,30,'M','Basketball','Thai','Rich Kid'),
('00019','Ana','Faulk',179,50.7,34,'M','Football','Thai','FairPlay Sport'),
('00020','Francisco','Arrant',154,76.23,23,'F','VolleyBall','Thai','Rama Sport'),
('00021','David','Her',191,83.38,28,'M','Basketball','Thai','Superman'),
('00022','Christopher','Green',186,65.55,19,'F','Athletic','Thai','Beyonder'),
('00023','Gerald','Heinz',193,84.8,18,'F','Badminton','Thai','Easy Team'),
('00024','Claudia','Sherman',197,94.66,20,'M','Athletic','Thai','Green Sport'),
('00025','Lois','Leonard',152,49.58,42,'F','Tennis','Thai','Underdogs Sport'),
('00026','Diane','Dykes',156,84.95,30,'F','Athletic','Thai','GD Sport'),
('00027','Weston','Dickerson',190,54.64,30,'M','Tennis','Thai','Batman Sport'),
('00028','Amy','Vanscooter',166,94.16,42,'M','Basketball','Thai','Rich Kid'),
('00029','Kenneth','Engelken',156,54.1,45,'F','Athletic','Korean','MM Sport'),
('00030','William','Luna',175,99.71,28,'M','Football','Thai','Pheonix FC'),
('00031','Deborah','Foster',199,77.01,16,'F','VolleyBall','Thai','Pheonix FC'),
('00032','Fletcher','Smith',156,95.36,30,'M','PingPong','Thai','One Above All'),
('00033','Wilbert','Cole',151,47.42,43,'M','Tennis','Korean','Pheonix FC'),
('00034','Ida','Oflaherty',188,52.21,15,'F','Boxing','Thai','Good Team'),
('00035','Demetria','Jones',191,57.0,44,'M','Basketball','Thai','Good Team'),
('00036','Jonathan','Wheeler',161,76.51,17,'F','Football','Thai','Batman Sport'),
('00037','Alan','Janski',161,65.27,16,'F','PingPong','Thai','ICT Sport'),
('00038','Rosemary','Amaya',161,55.85,42,'M','Badminton','Thai','FairPlay Sport'),
('00039','Karen','Griffith',190,60.73,38,'M','PingPong','Thai','Beyonder'),
('00040','Edward','Kelly',168,80.01,41,'F','Basketball','Thai','Rich Kid'),
('00041','Dale','Ridge',195,57.11,34,'M','Boxing','Thai','Easy Team'),
('00042','Stephen','Babb',171,64.28,41,'F','VolleyBall','German','Beyonder'),
('00043','Gussie','Goodall',158,69.73,23,'M','Football','Canadian','GD Sport'),
('00044','Penelope','Mendenhall',198,85.43,17,'M','PingPong','Thai','Man Uay FC'),
('00045','Charles','Jones',190,62.99,45,'F','Badminton','Thai','Green Sport'),
('00046','Herbert','Aguilar',161,60.27,32,'M','Tennis','Thai','Underdogs Sport'),
('00047','Tanna','Knox',175,96.75,22,'M','Tennis','Thai','GG Sport'),
('00048','Marshall','Blocker',167,70.62,38,'M','Basketball','Thai','GD Sport'),
('00049','Brian','Smith',194,57.33,34,'F','Badminton','Thai','GD Sport'),
('00050','Hilary','Mince',170,55.66,23,'M','Athletic','Thai','Easy Team'),
('00051','Joshua','Armendariz',175,65.83,34,'F','Tennis','Thai','Batman Sport'),
('00052','Bryan','Milne',187,78.65,21,'F','Tennis','Canadian','GG Sport'),
('00053','Jeffery','Baker',176,93.13,24,'F','Boxing','Thai','Rich Kid'),
('00054','Kenneth','Leibowitz',177,91.55,32,'F','Tennis','German','Pheonix FC'),
('00055','Betty','Packard',191,90.55,29,'F','Badminton','Thai','Arm Sport'),
('00056','Charles','Nelson',150,75.31,17,'M','Tennis','Thai','ICT Sport'),
('00057','Harold','Francois',152,42.23,16,'F','VolleyBall','Thai','FairPlay Sport'),
('00058','Debra','Hebert',180,83.82,30,'F','Athletic','Thai','GD Sport'),
('00059','Toby','Miller',194,69.56,20,'M','Boxing','Thai','MM Sport'),
('00060','Margaret','Taylor',168,50.01,42,'M','PingPong','Thai','Pheonix FC'),
('00061','Janet','Gauthier',180,88.07,15,'F','Athletic','Thai','Easy Team'),
('00062','Summer','Farrell',177,54.17,27,'M','Tennis','Thai','Big Boom FC'),
('00063','Melanie','Ayre',157,76.01,35,'F','Boxing','Thai','GG Sport'),
('00064','Carmen','Hesley',174,53.89,28,'F','VolleyBall','Thai','Rich Kid'),
('00065','Constance','Raef',189,50.52,41,'M','Basketball','Thai','MM Sport'),
('00066','Robert','Killian',176,78.8,25,'F','Football','Thai','ICT Sport'),
('00067','Roger','Snyder',151,51.59,37,'F','VolleyBall','Japanese','Beyonder'),
('00068','Paul','Baker',192,90.3,24,'F','Tennis','German','GD Sport'),
('00069','Donnell','Washington',152,99.49,17,'M','Football','Thai','Man Uay FC'),
('00070','Darleen','Fischer',189,94.31,45,'F','Boxing','Thai','KingKong Sport'),
('00071','Joanna','Wilcutt',160,70.7,20,'M','PingPong','Thai','Beyonder'),
('00072','Scott','Carlile',184,74.15,17,'F','PingPong','Thai','MM Sport'),
('00073','Rebecca','Martin',184,91.55,36,'M','VolleyBall','Thai','Beyonder'),
('00074','Margaret','Ingham',162,82.3,30,'F','Boxing','Thai','Superman'),
('00075','Joyce','Nelson',192,93.26,42,'M','Badminton','Thai','One Above All'),
('00076','Marian','Brooks',151,88.45,24,'M','Football','Thai','CC Sport'),
('00077','Michael','Bunting',198,79.2,19,'F','Boxing','Thai','Rama Sport'),
('00078','Margarita','Thrower',151,81.27,20,'M','Football','Thai','Underdogs Sport'),
('00079','Elizabeth','Monroe',182,83.46,37,'F','Badminton','Thai','Uefa191'),
('00080','Jean','Johnson',166,77.36,45,'F','PingPong','Thai','KingKong Sport'),
('00081','Alice','Wilson',183,58.41,29,'M','Badminton','Thai','GG Sport'),
('00082','Sandra','Anderson',183,60.83,17,'M','Football','Thai','Man Uay FC'),
('00083','Linda','Flott',176,68.03,40,'F','Badminton','Thai','Beyonder'),
('00084','Peggy','Tullius',194,99.79,16,'M','Athletic','Thai','Man Uay FC'),
('00085','Rachael','Plott',184,72.33,32,'M','Tennis','Thai','Beyonder'),
('00086','Richard','Young',183,46.48,31,'M','Boxing','Thai','Rama Sport'),
('00087','Cory','Barnett',170,49.46,27,'F','Boxing','Thai','Good Team'),
('00088','Edwardo','Featherston',187,86.77,24,'M','Football','Thai','Superman'),
('00089','Sandra','Gonzales',162,40.63,41,'M','Athletic','Thai','Easy Team'),
('00090','Harry','King',154,48.96,35,'F','Basketball','Thai','Good Team'),
('00091','Jerry','Cruz',183,94.53,27,'F','Badminton','Thai','One Above All'),
('00092','Marcella','Mabry',152,84.44,44,'M','VolleyBall','Thai','Man Uay FC'),
('00093','Kimberly','Mcalister',176,58.01,22,'M','Boxing','Thai','MM Sport'),
('00094','Cecilia','Begley',183,65.35,28,'M','Athletic','Thai','CC Sport'),
('00095','Cathy','Robledo',175,70.14,42,'M','Athletic','Thai','Batman Sport'),
('00096','Juan','Cadwallader',190,63.65,37,'F','Boxing','Thai','CC Sport'),
('00097','Pamela','Hobson',189,63.04,34,'M','VolleyBall','Thai','Pheonix FC'),
('00098','Lester','Arnold',164,77.92,45,'M','Badminton','Thai','MM Sport'),
('00099','Lois','Long',196,97.72,37,'F','Tennis','Thai','Uefa191'),
('00100','Charlotte','Blackburn',175,97.29,36,'F','VolleyBall','Thai','Superman'),
('00101','Fredrick','Anderson',172,57.67,24,'F','PingPong','Thai','One Above All'),
('00102','Wendy','Pearson',173,51.37,39,'M','VolleyBall','Thai','Good Team'),
('00103','Joshua','Hunter',158,83.93,42,'F','Boxing','Thai','Mahidol Sport'),
('00104','Betty','Whitfield',181,70.14,38,'F','Boxing','Canadian','XX Sport'),
('00105','Ricardo','Weaver',166,42.41,24,'F','Tennis','Thai','CC Sport'),
('00106','Alberta','Jimenez',154,76.49,20,'F','Basketball','Thai','GD Sport'),
('00107','Susan','Ray',184,55.12,37,'F','Football','Thai','Man Uay FC'),
('00108','Sebastian','Perez',194,66.63,45,'F','Tennis','Thai','Green Sport'),
('00109','Jessie','Riley',191,67.34,18,'F','Athletic','Thai','Easy Team'),
('00110','Philip','Enriquez',161,96.35,20,'F','Athletic','Thai','One Above All'),
('00111','Jessica','Tanner',166,79.77,39,'F','VolleyBall','Thai','GD Sport'),
('00112','Gary','Troke',162,53.65,16,'M','Football','Thai','Rich Kid'),
('00113','Marian','Gooden',195,92.85,32,'M','Tennis','Thai','Beyonder'),
('00114','Gary','Little',157,44.94,20,'M','Boxing','Thai','Arm Sport'),
('00115','Harold','Odom',173,43.44,44,'F','Athletic','Japanese','GG Sport'),
('00116','Kimberly','Singer',164,76.07,21,'M','VolleyBall','Thai','Beyonder'),
('00117','Mark','Saunders',180,40.82,37,'F','Athletic','Thai','CC Sport'),
('00118','Maureen','Timmer',178,79.72,18,'M','Athletic','Thai','MM Sport'),
('00119','Dawn','Eisentrout',191,80.4,35,'M','Boxing','Thai','XX Sport'),
('00120','James','Kelly',177,94.9,41,'F','Badminton','Thai','One Above All'),
('00121','Marjorie','Kobayashi',181,72.75,25,'F','Tennis','Thai','Rama Sport'),
('00122','Ann','Smith',176,61.45,22,'M','VolleyBall','Thai','The Best Team'),
('00123','Jennifer','Myers',195,91.77,29,'M','PingPong','Korean','ICT Sport'),
('00124','Rueben','Luster',165,60.71,31,'F','Football','Thai','Uefa191'),
('00125','Shawn','Chism',154,72.52,30,'M','Basketball','Thai','Superman'),
('00126','Moses','Parks',192,44.12,43,'F','Football','Thai','KingKong Sport'),
('00127','Richard','Birkline',187,68.94,23,'M','Boxing','Thai','KingKong Sport'),
('00128','Emmy','Lanning',194,40.92,20,'M','Football','Thai','Big Boom FC'),
('00129','Jean','Jorstad',159,52.7,20,'F','Tennis','Thai','CC Sport'),
('00130','William','Holmes',160,61.33,29,'F','Football','German','MM Sport'),
('00131','Shannon','Hoffman',187,97.34,40,'M','Basketball','Thai','Rama Sport'),
('00132','Michael','Yokoyama',177,89.22,20,'M','Boxing','German','ICT Sport'),
('00133','David','Utley',193,81.25,39,'M','VolleyBall','Thai','Green Sport'),
('00134','Harry','Freeman',174,67.69,45,'M','VolleyBall','Thai','Arm Sport'),
('00135','Dreama','Richardson',162,46.16,17,'M','Tennis','Thai','Beyonder'),
('00136','Carolyn','Cuevas',188,41.86,34,'F','Boxing','Thai','Man Uay FC'),
('00137','Diana','Rogers',154,83.2,28,'F','Athletic','Thai','GD Sport'),
('00138','Samuel','Greene',199,47.82,37,'F','Tennis','Thai','KingKong Sport'),
('00139','Diane','Curles',179,78.19,27,'F','Basketball','German','GD Sport'),
('00140','Thomas','Potter',162,69.98,44,'F','Athletic','Thai','CC Sport'),
('00141','Beverly','Rock',177,93.96,42,'F','VolleyBall','Thai','MM Sport'),
('00142','Geneva','Bond',165,53.83,43,'M','Football','Thai','Superman'),
('00143','Louis','Lane',175,85.28,31,'F','Badminton','Thai','The Best Team'),
('00144','Rebecca','Williams',163,81.81,41,'F','Football','Thai','Superman'),
('00145','Michael','Hill',183,94.37,19,'F','Basketball','Thai','Underdogs Sport'),
('00146','Richard','Morris',187,84.02,36,'F','PingPong','Canadian','ICT Sport'),
('00147','Larry','Tarpley',191,96.72,39,'F','Athletic','Thai','Superman'),
('00148','Eddie','Lawrence',186,97.97,36,'M','PingPong','American','CC Sport'),
('00149','Rose','Osborn',182,99.35,32,'F','Athletic','Thai','Good Team'),
('00150','Jason','Elderidge',180,99.68,31,'M','Basketball','Thai','One Above All'),
('00151','Jennifer','Fitzgerald',165,60.01,44,'F','PingPong','Thai','GD Sport'),
('00152','Florence','Shaw',195,81.97,25,'F','Athletic','Thai','GG Sport'),
('00153','Eddie','Cogswell',164,53.15,32,'F','Athletic','Korean','Batman Sport'),
('00154','Jennifer','Haro',181,56.74,42,'M','Badminton','Thai','Mahidol Sport'),
('00155','Larry','Andrew',155,98.66,45,'M','Tennis','Thai','Rich Kid'),
('00156','Gary','Meyers',195,59.68,29,'F','Boxing','Thai','Good Team'),
('00157','Lee','Hart',193,76.3,34,'F','PingPong','Thai','Rich Kid'),
('00158','James','Kendrick',189,83.24,33,'F','Badminton','Thai','Rich Kid'),
('00159','Mark','Cool',157,55.03,40,'F','Badminton','Thai','Pheonix FC'),
('00160','Bethany','Ramsey',185,54.06,24,'F','Badminton','Thai','GG Sport'),
('00161','Judy','Fontenot',158,98.27,42,'M','PingPong','Thai','Easy Team'),
('00162','Brett','Oberg',197,62.66,26,'M','Football','Thai','Batman Sport'),
('00163','Ramon','Mason',182,79.27,44,'F','Badminton','Thai','Big Boom FC'),
('00164','Henry','Broussard',199,43.81,18,'M','Boxing','Korean','Rich Kid'),
('00165','Keri','Coker',168,93.84,37,'F','Basketball','Thai','FairPlay Sport'),
('00166','John','Mayes',173,68.28,45,'F','Football','Thai','Green Sport'),
('00167','Charles','Siskin',152,70.78,22,'M','Athletic','Thai','Easy Team'),
('00168','Michael','Gleaton',165,81.14,43,'F','Basketball','Thai','Superman'),
('00169','Gerald','Curtis',152,47.84,44,'M','Football','Thai','One Above All'),
('00170','Mary','Brewer',173,85.41,45,'F','Football','Thai','Arm Sport'),
('00171','Maria','Fouche',173,48.75,41,'F','Basketball','Thai','Arm Sport'),
('00172','David','Harney',182,80.3,45,'M','Boxing','Thai','The Best Team'),
('00173','Kristen','Adams',165,72.18,15,'F','PingPong','Japanese','Superman'),
('00174','Sabrina','Bledsoe',155,90.5,29,'M','Athletic','Thai','Batman Sport'),
('00175','Anthony','Jahns',167,89.04,35,'F','VolleyBall','Thai','Pheonix FC'),
('00176','Donnie','Varden',152,43.08,34,'F','Athletic','Thai','Underdogs Sport'),
('00177','Linda','Mosley',167,52.6,17,'M','Badminton','Thai','Superman'),
('00178','Russell','Savage',198,83.08,31,'F','Boxing','Korean','Rich Kid'),
('00179','Brian','Stolle',176,44.15,30,'F','Football','Thai','The Best Team'),
('00180','Elizabeth','Barron',167,82.85,31,'F','Tennis','Thai','Uefa191'),
('00181','Annie','Woodward',179,73.56,43,'F','Badminton','Korean','Beyonder'),
('00182','Peggy','Lee',156,92.77,30,'M','Football','Thai','FairPlay Sport'),
('00183','Carrie','Goodman',190,99.3,16,'F','Boxing','Thai','Man Uay FC'),
('00184','Angel','Shipman',188,81.08,41,'F','Athletic','Thai','The Best Team'),
('00185','James','Oddi',186,69.78,20,'M','PingPong','Thai','GG Sport'),
('00186','Brandon','Davis',158,53.8,30,'F','Boxing','Thai','Pheonix FC'),
('00187','Tammy','Henderson',160,86.93,34,'M','Tennis','Thai','CC Sport'),
('00188','Gregory','Halle',169,90.45,31,'M','Boxing','Thai','Green Sport'),
('00189','Charles','Jeppesen',163,87.14,37,'M','VolleyBall','Thai','Uefa191'),
('00190','Lori','Dietrich',174,48.24,38,'F','Athletic','Thai','Batman Sport'),
('00191','Troy','Mcnutt',189,49.45,45,'F','Basketball','Thai','GG Sport'),
('00192','Jose','Wearing',160,93.07,21,'F','PingPong','Thai','Superman'),
('00193','Lynn','Glover',187,92.94,39,'F','Athletic','Thai','MM Sport'),
('00194','Robin','Eades',184,83.55,45,'F','PingPong','Thai','Uefa191'),
('00195','Christina','Beyer',196,42.66,35,'M','Athletic','German','ICT Sport'),
('00196','Leanne','Escobar',183,89.61,20,'M','Badminton','Thai','GD Sport'),
('00197','Wendy','Vaughan',158,69.56,35,'F','PingPong','Thai','MM Sport'),
('00198','John','Johnson',196,43.58,22,'F','Athletic','Thai','Underdogs Sport'),
('00199','John','Whitman',172,68.95,33,'M','VolleyBall','Japanese','MM Sport'),
('00200','Connie','Scoggins',183,40.9,34,'F','Basketball','Canadian','Big Boom FC'),
('00201','Donna','Horn',166,60.54,28,'F','VolleyBall','Thai','MM Sport'),
('00202','Maureen','Smith',153,82.87,39,'M','VolleyBall','Thai','Uefa191'),
('00203','Betty','Saetern',200,71.24,24,'M','PingPong','Thai','CC Sport'),
('00204','Nick','Barrett',198,82.32,38,'M','Football','Thai','ICT Sport'),
('00205','Katie','Day',168,70.79,24,'M','PingPong','Thai','Green Sport'),
('00206','Louise','Graffagnino',194,74.38,36,'F','PingPong','German','XX Sport'),
('00207','Rosa','Eades',172,96.57,38,'M','VolleyBall','Thai','KingKong Sport'),
('00208','Charles','Schmidt',155,83.95,38,'F','VolleyBall','Thai','ICT Sport'),
('00209','Ashley','Leis',190,88.42,24,'M','Badminton','German','Green Velvet'),
('00210','Vincent','Schroeder',172,51.07,22,'F','Football','Thai','Green Sport'),
('00211','Amanda','Pope',165,51.12,21,'F','Football','Thai','FairPlay Sport'),
('00212','Michael','Copeland',166,75.85,36,'F','Badminton','Thai','Man Uay FC'),
('00213','Jeffrey','Carpenter',162,74.07,36,'M','Badminton','Thai','Pheonix FC'),
('00214','Judy','Steinberg',194,74.22,17,'F','PingPong','Thai','MM Sport'),
('00215','Bessie','Coleman',186,74.62,40,'F','VolleyBall','Canadian','Uefa191'),
('00216','Elizabeth','Rockwell',182,93.17,28,'M','Tennis','Canadian','The Best Team'),
('00217','George','Wittels',174,53.16,25,'M','Badminton','Thai','Uefa191'),
('00218','John','Reber',200,60.13,40,'F','Boxing','Thai','MM Sport'),
('00219','Barbara','Johnson',180,92.28,17,'F','Football','Thai','Easy Team'),
('00220','Tyrone','Hubbard',160,54.84,28,'M','PingPong','Thai','MM Sport'),
('00221','Robert','Kolodziej',159,94.53,30,'F','Tennis','Thai','MM Sport'),
('00222','Richard','Stone',197,95.72,38,'M','VolleyBall','Thai','Big Boom FC'),
('00223','Elizabeth','Ramey',196,73.4,29,'F','Badminton','Thai','Rama Sport'),
('00224','Gavin','Davis',152,85.48,20,'F','Tennis','Thai','Man Uay FC'),
('00225','Sarah','Joyner',158,62.27,43,'F','Boxing','Thai','Arm Sport'),
('00226','Beverly','Davenport',179,61.33,16,'M','Boxing','Thai','Beyonder'),
('00227','Sally','Jones',157,79.97,45,'M','Athletic','Thai','GD Sport'),
('00228','Martha','Hance',157,41.85,39,'M','Badminton','Thai','Green Velvet'),
('00229','Virginia','Estes',167,87.72,16,'F','Tennis','Thai','Mahidol Sport'),
('00230','James','Sherrer',187,79.88,30,'F','VolleyBall','Thai','Uefa191'),
('00231','Robert','Clark',187,80.3,30,'M','Badminton','Thai','The Best Team'),
('00232','Jason','Mcsorley',171,82.57,38,'F','Boxing','Thai','Arm Sport'),
('00233','Dorthy','Lowell',199,68.03,37,'M','Football','Thai','Batman Sport'),
('00234','Lois','Wagner',156,89.37,44,'F','Athletic','Thai','Good Team'),
('00235','Alex','Mcclanan',190,93.37,21,'M','Boxing','Thai','Rich Kid'),
('00236','Ma','Lopez',167,79.63,18,'F','Basketball','German','KingKong Sport'),
('00237','Natisha','Moore',188,91.15,44,'F','Football','Thai','Superman'),
('00238','Leonard','Tutwiler',190,53.73,34,'M','Badminton','Thai','Arm Sport'),
('00239','Rory','Hix',157,71.19,43,'M','Boxing','Thai','Underdogs Sport'),
('00240','Christopher','Gates',164,54.05,30,'F','Football','Korean','Rich Kid'),
('00241','Christopher','Rivas',150,49.3,44,'F','VolleyBall','Thai','Underdogs Sport'),
('00242','Larry','Dowell',181,92.5,25,'M','VolleyBall','Thai','Rama Sport'),
('00243','Andrea','Manor',159,68.14,34,'M','Football','Thai','Pheonix FC'),
('00244','Peter','Weltha',179,54.2,36,'M','Football','Korean','Rich Kid'),
('00245','Michael','Morgan',172,90.93,16,'F','Badminton','Korean','ICT Sport'),
('00246','Karen','Hudson',159,73.54,31,'M','VolleyBall','Korean','Rama Sport'),
('00247','Charlie','Randall',174,67.86,40,'F','Boxing','Thai','One Above All'),
('00248','Maurice','Mitchell',171,97.45,15,'F','PingPong','Thai','MM Sport'),
('00249','Tammie','Daniels',157,65.0,39,'M','Tennis','Canadian','Uefa191'),
('00250','Caroline','Domingue',180,78.61,15,'M','Basketball','Thai','Pheonix FC'),
('00251','Anna','Alas',152,99.86,39,'M','Boxing','Thai','Man Uay FC'),
('00252','Nakisha','Snyder',175,78.07,42,'M','Badminton','Thai','Rich Kid'),
('00253','Jose','Bishop',196,84.51,39,'F','Boxing','Thai','GG Sport'),
('00254','Paul','Oswalt',186,64.02,36,'F','Badminton','Korean','Man Uay FC'),
('00255','Michael','Dillard',170,79.21,38,'M','Tennis','Thai','The Best Team'),
('00256','Micheal','Boucher',200,93.69,32,'F','Basketball','Thai','GD Sport'),
('00257','Adriana','Dewispelaere',189,71.64,15,'F','Tennis','Thai','Uefa191'),
('00258','Yolanda','Handley',150,54.78,22,'F','VolleyBall','Thai','Easy Team'),

In [4]:
atlist = []
for x in range(0,athlete):
    atlist.append([str(x).zfill(5),names.get_first_name(),names.get_last_name(),str(random.randint(150,200)),str(round(random.uniform(40,100),2)),str(random.randint(15,45)),random.choice(gender),
                    random.choice(sport_type), shuffle[x], random.choice(Name)])

In [5]:
atdf = pd.DataFrame(atlist, columns = ['Athlete_ID', 'FirstName','LastName','Ath_Height','Ath_Weight','Age','Gender','Sport_Type','Nationality','Team_Name'])

In [6]:
atdf

,Athlete_ID,FirstName,LastName,Ath_Height,Ath_Weight,Age,Gender,Sport_Type,Nationality,Team_Name
0,00000,Thomas,Bennett,193,96.72,38,M,VolleyBall,Thai,Arm Sport
1,00001,Penny,Fleming,157,66.43,33,M,Basketball,Thai,Underdogs Sport
2,00002,Chae,George,187,96.87,20,F,PingPong,Thai,CC Sport
3,00003,Zena,Mattox,154,94.66,33,F,Boxing,American,Superman
4,00004,Danny,Worley,168,95.44,15,F,Badminton,Thai,MM Sport
...,...,...,...,...,...,...,...,...,...,...
995,00995,Jon,Thomason,187,68.74,27,F,Tennis,Thai,GG Sport
996,00996,Clifton,Scoles,165,69.31,34,F,Basketball,Thai,Good Team
997,00997,Ronald,Finegan,183,88.58,31,M,Athletic,Thai,Green Velvet
998,00998,Sharon,Guzman,184,99.89,20,F,Basketball,Thai,GG Sport
999,00999,Angelo,Drewniak,160,68.73,21,F,Badminton,Thai,Rich Kid

In [7]:
start_date = datetime.date(1970, 2, 14)
end_date = datetime.date(2020, 1, 1)

In [8]:
for x in range(0,team +1):
    
    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = start_date + datetime.timedelta(days=random_number_of_days)
    print("("
     + "'"+ Name[x] + "'" + "," + "'" + random.choice(sport_type) + "'" + ","  + "'" + str(random_date) + "'"+ 
    ")" + ",")

('Mahidol Sport','VolleyBall','2010-04-03'),
('ICT Sport','Badminton','1977-04-27'),
('KingKong Sport','Badminton','1980-08-31'),
('Arm Sport','Athletic','1977-09-19'),
('GD Sport','Athletic','2013-02-13'),
('Underdogs Sport','Athletic','2019-07-01'),
('Man Uay FC','Basketball','2006-02-03'),
('Big Boom FC','Tennis','1993-03-12'),
('Easy Team','Tennis','1972-06-30'),
('Uefa191','Boxing','1994-09-27'),
('CC Sport','Boxing','1976-04-19'),
('Good Team','Boxing','1990-01-26'),
('Pheonix FC','Tennis','1976-07-05'),
('Green Sport','Basketball','1977-03-29'),
('FairPlay Sport','Boxing','2010-08-16'),
('The Best Team','Basketball','2000-11-08'),
('Beyonder','Tennis','1998-10-23'),
('One Above All','Boxing','2007-11-21'),
('Superman','Badminton','1998-05-19'),
('Batman Sport','Tennis','1971-07-14'),
('Rich Kid','Tennis','2014-05-29'),
('GG Sport','Tennis','1977-07-10'),
('XX Sport','Boxing','1993-06-05'),
('Rama Sport','VolleyBall','2011-07-25'),
('MM Sport','Basketball','1987-05-10'),
('Green Velvet','Basketball','1982-10-26'),

In [9]:
teamlist = []
for x in range(0,team +1):
    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = start_date + datetime.timedelta(days=random_number_of_days)
    teamlist.append([Name[x],random.choice(sport_type),str(random_date)])

In [10]:
teamdf = pd.DataFrame(teamlist, columns = ['Team_Name','Type_Of_Sport','Founded_Date'])

In [11]:
teamdf

          Team_Name Type_Of_Sport Founded_Date
0     Mahidol Sport      PingPong   1996-04-25
1         ICT Sport      PingPong   1975-03-29
2    KingKong Sport    Basketball   1996-09-26
3         Arm Sport      Football   2015-10-03
4          GD Sport     Badminton   1981-01-02
5   Underdogs Sport    Basketball   1980-06-05
6        Man Uay FC     Badminton   2019-03-25
7       Big Boom FC      Football   1996-08-07
8         Easy Team        Boxing   1986-09-03
9           Uefa191        Tennis   1999-08-07
10         CC Sport    VolleyBall   1991-12-23
11        Good Team      Athletic   1994-08-14
12       Pheonix FC        Tennis   1982-01-19
13      Green Sport        Boxing   2006-08-15
14   FairPlay Sport      Football   1990-12-19
15    The Best Team        Tennis   1995-11-25
16         Beyonder      Athletic   1992-10-07
17    One Above All     Badminton   1995-06-16
18         Superman    VolleyBall   2003-12-14
19     Batman Sport      Athletic   1997-05-13
20         Rich Kid    VolleyBall   1971-03-20
21         GG Sport      Football   1996-11-09
22         XX Sport        Tennis   2017-06-20
23       Rama Sport        Tennis   1998-06-14
24         MM Sport        Tennis   1981-03-28
25     Green Velvet        Boxing   2010-11-08

In [12]:
medical = 70
Branch = ["Ophthalmologists","Neurologists","Nephrologists","Internists","Hematologists","Endocrinologists","Dermatologists","Critical Care Medicine Specialists","Cardiologists",
            "Psycologist"]
staff = []

# for i in range(0,40):
#     first = "0"+ str(random.randint(80,93))
#     second = str(random.randint(0,999)).zfill(3)
#     third = str(random.randint(0,9999)).zfill(4)
#     print(first + "-" + second+ "-" + third)
# for x in range(0,70):
#     first = "0"+ str(random.randint(80,93))
#     second = str(random.randint(0,999)).zfill(3)
#     third = str(random.randint(0,9999)).zfill(4)
#     staff.append("("
#      + "'" + str(x).zfill(5) +  "'" +"," + "'" + names.get_first_name()+"'"  +"," + "'" + names.get_last_name()+ "'" + "," + "'" + random.choice(Branch) + "'"+  "," + 
#      "'" +"Assistant"+ "'" +"," + "'" + first + "-" + second+ "-" + third + "'"+
#     ")" + ",")

medicallist = []

for x in range(0,70):
    first = "0"+ str(random.randint(80,93))
    second = str(random.randint(0,999)).zfill(3)
    third = str(random.randint(0,9999)).zfill(4)
    medicallist.append([str(x).zfill(5),names.get_first_name(),names.get_last_name(),random.choice(Branch),"Assistant",first +'-' + second + "-" + third])

dfmedical = pd.DataFrame(medicallist, columns = ['Medical_Staff_ID','FirstName','LastName','Branch','Position','Phone'])

In [13]:
dfmedical

,Medical_Staff_ID,FirstName,LastName,Branch,Position,Phone
0,00000,Stacey,Dobos,Critical Care Medicine Specialists,Assistant,089-061-7802
1,00001,Amanda,Oleary,Critical Care Medicine Specialists,Assistant,080-822-8057
2,00002,Lucy,Sanchez,Psycologist,Assistant,085-288-8847
3,00003,Jeff,Lucas,Dermatologists,Assistant,083-653-2521
4,00004,Hope,Larose,Endocrinologists,Assistant,091-744-2522
...,...,...,...,...,...,...
65,00065,Kathryn,Corsaut,Psycologist,Assistant,080-066-8791
66,00066,Monique,Butts,Critical Care Medicine Specialists,Assistant,091-676-5022
67,00067,Jason,Tallman,Dermatologists,Assistant,081-650-0886
68,00068,Carmen,Roberts,Endocrinologists,Assistant,085-104-3607
69,00069,Bradley,Tell,Dermatologists,Assistant,088-939-5064

In [14]:
title = 'Ophthalmologists'
for i in range (0, len(staff)):
    if(title in staff[i]):
        print(staff[i])

In [21]:
notduplicatedid = []
for i in range(0,1000):
    notduplicatedid.append(str(i).zfill(5))
random.shuffle(notduplicatedid)

In [87]:
psycolist = []
sleepquality = []
ip = []
vasf = []
num = 100
start_date = datetime.date(2021, 2, 14)
end_date = datetime.date(2021, 12, 1)

psyco_start = datetime.date(2021, 12, 2)
psyco_end = datetime.date(2022, 12, 14)


for x in range(0,num):
    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = start_date + datetime.timedelta(days=random_number_of_days)
    sleepans1 = random.randint(0,3)
    sleepans2 = random.randint(0,3)
    sleepans3 = random.randint(0,3)
    sleepans4 = random.randint(0,3)
    sleeptotal = (sleepans1+sleepans2+sleepans3+sleepans4)

    ipans1 = random.randint(0,10)
    ipans2 = random.randint(0,10)
    ipans3 = random.randint(0,10)
    ipans4 = random.randint(0,10)
    ipans5 = random.randint(0,10)
    iptotal = (ipans1+ipans2+ipans3+ipans4+ipans5)/5

    vasfans1 = random.randint(0,10)
    vasfans2 = random.randint(0,10)
    vasfans3 = random.randint(0,10)
    vasfans4 = random.randint(0,10)
    vasfans5 = random.randint(0,10)
    vasfans6 = random.randint(0,10)
    vasfans7 = random.randint(0,10)
    vasfans8 = random.randint(0,10)
    vasfans9 = random.randint(0,10)
    vasfans10 = random.randint(0,10)
    vasftotal = (vasfans1+vasfans2+vasfans3+vasfans4+vasfans5+vasfans6+vasfans7+vasfans8+vasfans9+vasfans10)

    tb = psyco_end - psyco_start
    nextstep = tb.days
    nextstepp = random.randrange(nextstep)
    randomstep = psyco_start + datetime.timedelta(days=nextstepp)
    sleepquality.append([str(x).zfill(5),str(notduplicatedid[x]).zfill(5),str(random_date),sleepans1,sleepans2,sleepans3,sleepans4,sleeptotal,'00001'.zfill(5)])
    ip.append([str(x).zfill(5),str(notduplicatedid[x]).zfill(5),str(random_date),ipans1,ipans2,ipans3,ipans4,ipans5,iptotal,'00002'.zfill(5)])
    vasf.append([str(x).zfill(5),str(notduplicatedid[x]).zfill(5),str(random_date),vasfans1,vasfans2,vasfans3,vasfans4,vasfans5,vasfans6,vasfans7,vasfans8,vasfans9,vasfans10,vasftotal,'00003'.zfill(5)])
    psycolist.append([str(x).zfill(5),str(notduplicatedid[x]).zfill(5),str(random.randint(0,69)).zfill(5),str(random_date),str(sleeptotal),str(round(iptotal,2)),
                        str(round(vasftotal,2)), str(randomstep)])
    # print("("
    #  + "'" + str(x).zfill(5) +  "'" +"," + "'" + str(random.randint(0,999)).zfill(5) +"'" + "," + "'" + str(random.randint(0,69)).zfill(5)   + "'"+  "," + 
    #  "'" +str(random_date)+ "'" +"," + str(random.randint(0,10))+ ","+ str(round(random.uniform(0,100),2)) + "," +str(round(random.uniform(0,10),2))  +","+ "'" +str(randomstep)
    #  + "'"+
    # ")" + ",")

In [88]:
psycodf = pd.DataFrame(psycolist, columns=['Psyco_ID','Athlete_ID','Medical_Staff_ID','Recovery_Started_Date','Sleep_Quality','I_PRRS_Score','VAS_F','Recovery_Ended_Date'])

In [89]:
psycodf

,Psyco_ID,Athlete_ID,Medical_Staff_ID,Recovery_Started_Date,Sleep_Quality,I_PRRS_Score,VAS_F,Recovery_Ended_Date
0,00000,00579,00049,2021-08-23,6,6.0,37,2022-11-26
1,00001,00644,00030,2021-11-07,6,6.4,71,2022-05-06
2,00002,00215,00006,2021-10-13,5,5.0,54,2022-06-16
3,00003,00401,00021,2021-06-05,2,3.0,37,2022-04-09
4,00004,00271,00030,2021-09-03,4,6.8,54,2022-06-23
...,...,...,...,...,...,...,...,...
95,00095,00918,00036,2021-03-11,2,3.8,56,2022-06-18
96,00096,00430,00054,2021-08-24,6,4.4,53,2022-02-02
97,00097,00790,00001,2021-10-10,3,6.2,73,2022-01-24
98,00098,00692,00066,2021-10-28,2,7.6,61,2022-10-31
99,00099,00726,00003,2021-05-14,5,4.2,53,2022-01-13

In [99]:
sleepdf = pd.DataFrame(sleepquality,columns=['AnswerID','Athlete_ID','Date','Score_Ans1','Score_Ans2','Score_Ans3','Score_Ans4','Total Score','QuestionSetID'])

In [100]:
sleepdf

,AnswerID,Athlete_ID,Date,Score_Ans1,Score_Ans2,Score_Ans3,Score_Ans4,Total Score,QuestionSetID
0,00000,00579,2021-08-23,0,2,2,2,6,00001
1,00001,00644,2021-11-07,0,3,3,0,6,00001
2,00002,00215,2021-10-13,1,1,3,0,5,00001
3,00003,00401,2021-06-05,1,1,0,0,2,00001
4,00004,00271,2021-09-03,0,2,2,0,4,00001
...,...,...,...,...,...,...,...,...,...
95,00095,00918,2021-03-11,0,2,0,0,2,00001
96,00096,00430,2021-08-24,3,0,3,0,6,00001
97,00097,00790,2021-10-10,0,0,2,1,3,00001
98,00098,00692,2021-10-28,0,0,0,2,2,00001
99,00099,00726,2021-05-14,2,1,2,0,5,00001

In [101]:
ipdf = pd.DataFrame(ip,columns=['AnswerID','Athlete_ID','Date','Score_Ans1','Score_Ans2','Score_Ans3','Score_Ans4','Score_Ans5','Total Score','QuestionSetID'])

In [102]:
ipdf

,AnswerID,Athlete_ID,Date,Score_Ans1,Score_Ans2,Score_Ans3,Score_Ans4,Score_Ans5,Total Score,QuestionSetID
0,00000,00579,2021-08-23,5,2,10,9,4,6.0,00002
1,00001,00644,2021-11-07,7,9,0,9,7,6.4,00002
2,00002,00215,2021-10-13,8,3,2,8,4,5.0,00002
3,00003,00401,2021-06-05,1,7,6,1,0,3.0,00002
4,00004,00271,2021-09-03,8,7,9,10,0,6.8,00002
...,...,...,...,...,...,...,...,...,...,...
95,00095,00918,2021-03-11,6,3,2,2,6,3.8,00002
96,00096,00430,2021-08-24,4,9,6,2,1,4.4,00002
97,00097,00790,2021-10-10,0,10,7,5,9,6.2,00002
98,00098,00692,2021-10-28,8,3,10,8,9,7.6,00002
99,00099,00726,2021-05-14,7,4,2,1,7,4.2,00002

In [103]:
vasdf = pd.DataFrame(vasf,columns=['AnswerID','Athlete_ID','Date','Score_Ans1','Score_Ans2','Score_Ans3','Score_Ans4','Score_Ans5','Score_Ans6','Score_Ans7','Score_Ans8',
                                    'Score_Ans9','Score_Ans10','Total Score','QuestionSetID'])

In [104]:
vasdf

,AnswerID,Athlete_ID,Date,Score_Ans1,Score_Ans2,Score_Ans3,Score_Ans4,Score_Ans5,Score_Ans6,Score_Ans7,Score_Ans8,Score_Ans9,Score_Ans10,Total Score,QuestionSetID
0,00000,00579,2021-08-23,2,8,4,2,7,0,2,2,3,7,37,00003
1,00001,00644,2021-11-07,9,8,0,7,9,9,8,4,9,8,71,00003
2,00002,00215,2021-10-13,8,10,3,0,10,5,10,5,0,3,54,00003
3,00003,00401,2021-06-05,0,5,0,4,7,0,7,3,2,9,37,00003
4,00004,00271,2021-09-03,7,4,6,10,4,6,4,3,1,9,54,00003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,00095,00918,2021-03-11,7,6,3,9,8,8,5,4,1,5,56,00003
96,00096,00430,2021-08-24,3,6,2,7,3,8,2,10,7,5,53,00003
97,00097,00790,2021-10-10,4,9,7,9,6,8,7,10,5,8,73,00003
98,00098,00692,2021-10-28,10,1,4,7,8,4,9,6,2,10,61,00003
99,00099,00726,2021-05-14,10,10,5,1,9,6,1,0,1,10,53,00003

In [27]:
injurylist = []
num = 100
start_date = datetime.date(2021, 2, 14)
end_date = datetime.date(2021, 12, 1)

psyco_start = datetime.date(2021, 12, 2)
psyco_end = datetime.date(2022, 12, 14)

event = ["During the match", "After the match", "During Training", "After Training","While Sleeping", "Daily Life Accident"]
Body_part = ["Left Arm","Right Arm","Chest","Left Hand","Right Hand","Right Leg","Left Leg","Right Foot","Left Foot","Skull","Back","Shoulder","Immune System" , "Brain","Right Eye",
            "Left Eye","Heart","Stomach","Nose","Teeth","Mouth","Face"]
cause = ["Tackle","Effect after the training or match","Body System Failure","Daily Accident"]

for x in range(0,num):
    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = start_date + datetime.timedelta(days=random_number_of_days)

    tb = psyco_end - psyco_start
    nextstep = tb.days
    nextstepp = random.randrange(nextstep)
    randomstep = psyco_start + datetime.timedelta(days=nextstepp)
    injurylist.append([str(x).zfill(5),str(random.randint(0,999)).zfill(5),str(random.randint(0,69)).zfill(5),str(random_date),str(random.choice(event)),str(random.choice(Body_part)),str(random.randint(1,6)),
                        str(random.choice(cause)),str(randomstep)])
    # print("("
    #  + "'" + str(x).zfill(5) +  "'" +"," + "'" + str(random.randint(0,999)).zfill(5) +"'" + "," + "'" + str(random.randint(0,69)).zfill(5)   + "'"+  "," + 
    #  "'" +str(random_date)+ "'" +"," + "'" + str(random.choice(event)) + "'" + "," +"'" + str(random.choice(Body_part))+ "'"+ "," + str(random.randint(1,6)) +","
    #  "'" + str(random.choice(cause))+ "'" + ","+ "'" +str(randomstep)+ "'"+
    # ")" + ",")

In [29]:
injurydf = pd.DataFrame(injurylist, columns=['Injury_ID','Athlete_ID','Medical_Staff_ID','Recovery_Started_Date','Event_Injury','Body_Part','Abbreviated_Injury_Scale','Cause_Of_Injury','Recovery_Ended_Date'])

In [30]:
injurydf

,Injury_ID,Athlete_ID,Medical_Staff_ID,Recovery_Started_Date,Event_Injury,Body_Part,Abbreviated_Injury_Scale,Cause_Of_Injury,Recovery_Ended_Date
0,00000,00956,00056,2021-06-19,While Sleeping,Nose,5,Body System Failure,2022-04-07
1,00001,00066,00063,2021-04-16,Daily Life Accident,Mouth,6,Body System Failure,2022-07-08
2,00002,00005,00064,2021-10-24,During Training,Back,3,Body System Failure,2022-04-30
3,00003,00790,00028,2021-06-23,After Training,Teeth,5,Body System Failure,2022-03-10
4,00004,00327,00018,2021-04-09,After Training,Right Eye,3,Tackle,2021-12-05
...,...,...,...,...,...,...,...,...,...
95,00095,00535,00022,2021-05-13,During the match,Teeth,2,Effect after the training or match,2021-12-27
96,00096,00681,00044,2021-10-17,After Training,Left Leg,2,Tackle,2022-05-19
97,00097,00456,00054,2021-09-10,While Sleeping,Right Foot,3,Body System Failure,2022-04-04
98,00098,00859,00016,2021-02-15,After the match,Left Arm,2,Tackle,2022-12-05
99,00099,00646,00015,2021-03-18,While Sleeping,Immune System,3,Tackle,2022-11-26

In [36]:
illnesslist = []
num = 100
start_date = datetime.date(2021, 2, 14)
end_date = datetime.date(2021, 12, 1)

psyco_start = datetime.date(2021, 12, 2)
psyco_end = datetime.date(2022, 12, 14)

Diagonis = ["Malaria","Dengue","Japanese Encephalitis","Leptospirosis","Soil-transmitted worm diseases","Sexually Transmitted Diseases","Tuberculosis","Seasonal Flu","Food Poisoning",
            "Water Borne Diseases","Traffic Accidents","Rabies","Snakebites"]
Symptom = ["Fever","Chills","Congestion","Fatigue","headache","Muscle aches","Bloody diarrhea","Vomiting","Dehydration","Shock"]

for x in range(0,num):
    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = start_date + datetime.timedelta(days=random_number_of_days)

    tb = psyco_end - psyco_start
    nextstep = tb.days
    nextstepp = random.randrange(nextstep)
    randomstep = psyco_start + datetime.timedelta(days=nextstepp)
    illnesslist.append([str(x).zfill(5),str(random.randint(0,999)).zfill(5),str(random.randint(0,69)).zfill(5),str(random_date),str(random.choice(Diagonis)),str(random.choice(Symptom)),str(randomstep)])
    # print("("
    #  + "'" + str(x).zfill(5) +  "'" +"," + "'" + str(random.randint(0,999)).zfill(5) +"'" + "," + "'" + str(random.randint(0,69)).zfill(5)   + "'"+  "," + 
    #  "'" +str(random_date)+ "'" +"," + "'" + str(random.choice(Diagonis)) + "'" + "," +"'" + str(random.choice(Symptom))+ "'" + ","+ "'" +str(randomstep)+ "'"+
    # ")" + ",")

In [37]:
illnessdf = pd.DataFrame(illnesslist, columns=['Illness_Case_ID','Athlete_ID','Medical_Staff_ID','Recovery_Started_Date','Diagnoses','Symptom','Recovery_Ended_Date'])

In [38]:
illnessdf

,Illness_Case_ID,Athlete_ID,Medical_Staff_ID,Recovery_Started_Date,Diagnoses,Symptom,Recovery_Ended_Date
0,00000,00278,00024,2021-09-03,Soil-transmitted worm diseases,Muscle aches,2022-07-23
1,00001,00883,00058,2021-10-18,Malaria,Vomiting,2022-08-21
2,00002,00532,00035,2021-10-03,Rabies,Fever,2022-03-31
3,00003,00023,00045,2021-08-02,Water Borne Diseases,Fever,2022-07-10
4,00004,00982,00065,2021-11-11,Tuberculosis,Bloody diarrhea,2022-01-18
...,...,...,...,...,...,...,...
95,00095,00699,00027,2021-06-30,Japanese Encephalitis,Fatigue,2022-10-23
96,00096,00385,00010,2021-04-28,Seasonal Flu,Congestion,2022-01-17
97,00097,00400,00005,2021-06-01,Malaria,headache,2022-07-11
98,00098,00707,00028,2021-07-19,Water Borne Diseases,Dehydration,2022-03-21
99,00099,00908,00010,2021-06-06,Soil-transmitted worm diseases,headache,2022-02-01

In [40]:
illnessdf.to_csv('Illness.csv', index=False)
injurydf.to_csv('Injury.csv',index = False)
psycodf.to_csv('Psycological_Case.csv',index = False)
dfmedical.to_csv('Medical_Staff.csv',index =False)
teamdf.to_csv('Sport_Team.csv',index =False)
atdf.to_csv('Athlete.csv',index =False)

In [105]:
question = []
question.append(['00001','How often do you have Insomnia after going to bed more than 30 minutes?'
                ,'How often do you wake up later than usual?','How often do you use sleeping pills?',
                'During the past 1 month, how was your overall sleep quality?',None,None,None,None,None,None,'Never','Once a week','Twice a week','more than twice a week'])
# question.append(['00002','How often do you wake up later than usual?','Never','Once a week','Twice a week','more than twice a week'])
# question.append(['00003','How often do you use sleeping pills?','Never','Once a week','Twice a week','more than twice a week'])
# question.append(['00004','During the past 1 month, how was your overall sleep quality?','Never','Once a week','Twice a week','more than twice a week'])

question.append(['00002','The overall confidence of the athletes','Athletes can play sports without feeling pain','Athletes can control the injured part of the body as needed.'
                    ,'Athletes are confident in performing their athletic skills.','Athletes ignore the injured part.'
                    ,None,None,None,None,None,0,1,2,3,4,5,6,7,8,9,10])
# question.append(['00006','Athletes can play sports without feeling pain',0,1,3,4,5,6,7,8,9,10])
# question.append(['00007','Athletes can control the injured part of the body as needed.',0,1,3,4,5,6,7,8,9,10])
# question.append(['00008','Athletes are confident in performing their athletic skills.',0,1,3,4,5,6,7,8,9,10])
# question.append(['00009','Athletes ignore the injured part.',0,1,3,4,5,6,7,8,9,10])


question.append(['00003','The level of tired','The level of sleepy','The level of drowsy','The level of fatigued','The level of worn out','The level of energetic'
                    ,'The level of active','The level of vigorous','The level of efficient','The level of lively',0,1,2,3,4,5,6,7,8,9,10])
# question.append(['00011','The level of sleepy',0,1,3,4,5,6,7,8,9,10])
# question.append(['00012','The level of drowsy',0,1,3,4,5,6,7,8,9,10])
# question.append(['00013','The level of fatigued',0,1,3,4,5,6,7,8,9,10])
# question.append(['00014','The level of worn out',0,1,3,4,5,6,7,8,9,10])
# question.append(['00015','The level of energetic',0,1,3,4,5,6,7,8,9,10])
# question.append(['00016','The level of active',0,1,3,4,5,6,7,8,9,10])
# question.append(['00017','The level of vigorous',0,1,3,4,5,6,7,8,9,10])
# question.append(['00018','The level of efficient',0,1,3,4,5,6,7,8,9,10])
# question.append(['00019','The level of lively',0,1,3,4,5,6,7,8,9,10])


questiondf = pd.DataFrame(question, columns=['QuestionSetID','Question1','Question2','Question3',
                                                'Question4','Question5','Question6',
                                                'Question7','Question8','Question9',
                                                'Question10','ans0','ans1','ans2','ans3','ans4','ans5','ans6','ans7','ans8','ans9','ans10'])

In [107]:
sleepdf.to_csv('SleepAns.csv', index=False)
ipdf.to_csv('IPANS.csv', index=False)
vasdf.to_csv('Vasfscore.csv', index=False)
questiondf.to_csv('Question.csv',index=False)

In [106]:
questiondf

,QuestionSetID,Question1,Question2,Question3,Question4,Question5,Question6,Question7,Question8,Question9,...,ans1,ans2,ans3,ans4,ans5,ans6,ans7,ans8,ans9,ans10
0,00001,How often do you have Insomnia after going to ...,How often do you wake up later than usual?,How often do you use sleeping pills?,"During the past 1 month, how was your overall ...",None,None,None,None,None,...,Once a week,Twice a week,more than twice a week,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00002,The overall confidence of the athletes,Athletes can play sports without feeling pain,Athletes can control the injured part of the b...,Athletes are confident in performing their ath...,Athletes ignore the injured part.,None,None,None,None,...,1,2,3,4.0,5.0,6.0,7.0,8.0,9.0,10.0
2,00003,The level of tired,The level of sleepy,The level of drowsy,The level of fatigued,The level of worn out,The level of energetic,The level of active,The level of vigorous,The level of efficient,...,1,2,3,4.0,5.0,6.0,7.0,8.0,9.0,10.0